body {
    font-family: 'Ubuntu', sans-serif;
}

section {
    display: flex;
}

.header-area {
    width: 50%;
}

.header-areae img {
    width: 100%;
}

section {
    display: flex;
}

.header-area {
    width: 50%;
}

.header-area img {
    width: 60%;
}