body {
    font-family: 'Ubuntu', sans-serif;
}

section {
    display: flex;
}

.header-area {
    width: 50%;
}

/* sir ami atar kotha bolsilam */
.button {
    background-color: brown;
}

.header-areae img {
    width: 100%;
}

section {
    display: flex;
}

.header-area {
    width: 50%;
}

.header-area img {
    width: 60%;
}

.same-button {
    background-color: brown;
}

/* ataw to kaj kore na */
span {
    color: aqua;
}